.story {
  display: flex;
  background: #eee;
}

.story-text {
  width: 50%;
  padding: 80px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.story-text h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.story-text p {
  line-height: 1.4;
  font-size: 16px;
}

.story-img {
  width: 50%;
}

.story-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
